[server]
port_rpc_admin_local
port_peer

[port_rpc_admin_local]
port = 5005
ip = 0.0.0.0
admin = 0.0.0.0
protocol = http

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[node_size]
tiny

[node_db]
type=NuDB
path=/var/lib/rippled/db/nudb
advisory_delete=0
online_delete=256
earliest_seq=1

[database_path]
/var/lib/rippled/db

[debug_logfile]
/var/log/rippled/debug.log

[sntp_servers]
time.windows.com
time.apple.com
time.nist.gov
pool.ntp.org

[ips_fixed]
172.30.0.11:51235
172.30.0.20:51235

[validators_file]
validators.txt

[rpc_startup]
{ "command": "log_level", "severity": "warning" }

[validation_seed]
85f9549615bd488866820a39b0b4806ddc68951ffe11a3f722b44aa0e56c5352

[validator_token]

[network_id]
99

[ledger_history]
256

# Allow standalone-like fast close for testing
[consensus]
minimum_duration_ms=200
